
##
NET clk LOC = V10 | TNM_NET = sys_clk_pin | IOSTANDARD = "LVCMOS33";
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;
##


##
NET rst_n                                 LOC = N4 | IOSTANDARD = "LVCMOS15"; ## SW2 pushbutton
##

########LED Pin define#####################
NET led<0>                        		       LOC = V5 | IOSTANDARD = "LVCMOS33";       ## LED1
NET led<1>                       	          LOC = R3 | IOSTANDARD = "LVCMOS33";       ## LED2
NET led<2>                                    LOC = T3 | IOSTANDARD = "LVCMOS33";       ## LED3
NET led<3>                                    LOC = T4 | IOSTANDARD = "LVCMOS33";       ## LED4